<%- include('./partials/_header.ejs')  %>


<% Clients.forEach((client)=>{ %>

<p> 客人名稱 : <%= client.name  %> </p>

<p>客人電話 : <%= client.phone  %> </p>

<p>
    醫院名稱 : <%= client.hospital  %>
</p>
    
<!-- <p>
    街道 : <%= client.street  %>

</p>

<p>
    地區 : <%= client.place  %>

</p> -->

<a href="/addadmin/GetPutClientBook/<%= client.id %>">更改</a>

<form action="/addadmin/DelClientBook/<%= client.id %>?_method=DELETE" method="post" >

   <button>
    刪除
   </button> 
</form>


<% }) %>