<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hands</title>

</head>
<body>

<nav>
    
    <a href="/addadmin/GetAddArea" >新增地區</a>
    <a href="/addadmin/GetAddPlace" >新增地方</a>
    <a href="/addadmin/GetAddService">新增服務</a>
    <a href="/addadmin/GetAddGender">新增性別</a>
    <a href="/addadmin/GetAddDormitory">新增宿位類型</a>
    <!-- <a href="/addadmin/GetAddRoom">新增房間種類</a> -->
    <a href="/addadmin/GetAddNursingHome" >新增療養院</a>
    <a href="/addadmin/GetAddClientBook">新增客戶記錄</a>

    <a href="/addadmin/GetArea">地區</a>
    <a href="/addadmin/GetPlace">地方</a>
    <a href="/addadmin/GetService">服務</a>
    <a href="/addadmin/GetGender">性別</a>
    <a href="/addadmin/GetDormitory">宿位類型</a>
    <!-- <a href="/addadmin/GetRoom">房間種類</a> -->
    <a href="/addadmin/GetNHBooking">療養院</a>
    <a href="/addadmin/GetSearchNH">搜查療養院</a>
    <a href="/addadmin/GetClientBook">客戶記錄</a>
    <a href="/addadmin/GetSearch">搜查客戶</a>


    <% if (user) { %>
        <li><a href="/auth/logout">Hi ,<%= user.username %>(logout) </a></li>
      <% } else { %>  
    <li><a href="/auth/register">Register</a></li>
    <li><a href="/auth/login">Log in</a></li>
    <% } %>

</nav>

<form action="/addadmin/PutClientBookForm/<%= client._id%>?_method=PUT" method="post">

    <label for="">客人名稱 : </label>
<input type="text" name="Inputname"  value="<%= client.name %>" placeholder="客人名稱">

<label for="">客人電話 : </label>
<input type="text" name="Inputphone" value="<%= client.phone %>"  placeholder="客人電話" >




<label for="">醫院 : </label>
<select name="Inputhospital" id="">
    <% NHs.forEach((nh)=>{ %>
        <option value="<%= nh.hospitalname %>- <%= nh.street  %>-<%= nh.place   %>" ><%= nh.hospitalname   %>- <%= nh.street  %>-<%= nh.place   %></option>
        
        <% }) %>
</select>





    <button>提交</button>

</form>