<a href="/addadmin/GetSearch">返回搜查</a>


<% NHs.forEach((nh)=>{ %>
    <p>院名 : <%= nh.hospitalname %> </p>
    <p>院舍電話 : <%= nh.hospitalphone %></p>
    <p>地方 : <%= nh.place %> </p>
    <p>街道 : <%= nh.street %></p>
    <p>價錢 : <%= nh.price %> </p>
    <p>服務 : <%= nh.serve %>  
    </p>
    <p>服務1 : <%= nh.serve1 %>  
    </p>
    <p>服務2 : <%= nh.serve2 %>  
    </p>
    <p>服務3 : <%= nh.serve3 %>  
    </p>

    <p>雙人房間 : <%= nh.multiple %></p>
    <p>單人房間 : <%= nh.single %></p>
    <p>公共房間 : <%= nh.public  %></p>

    <p>地址 : <%= nh.address  %> </p>

    <a href="/addadmin/GetPutNHBooking/<%=nh.id %>">更改</a>

    <form action="/addadmin/DelNHBooking/<%= nh.id %>?_method=DELETE" method="post" >

        <button>刪除</button>
    </form>

<% }) %>


